body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/911/687/desktop-wallpaper-dark-pink-aesthetic-pink-and-black-aesthetic.jpg);
    background-size: cover;
    
    background-repeat: no-repeat; 
    background-position: top;
    color: #ffffff; /* Light text color */
}


.abt{
    color: rgb(0, 0, 0);
    transition: transform 0.5s;
}

.abt:hover{
    font-size: xx-large;
    color: #AA336A;
}

.bigsize{
    font-size: xx-large;
}

.ps{
    margin-left: 10%;
}

.custom-button {
    background-color: #000000; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    background-size: fill;
  }

  .animation{
    transition: transform 0.5s;
  }

  .animation :hover{
    font-size: larger;
  }